* {
    margin: auto; /*Siempre debe ir*/
    padding: 0px; /*Siempre debe ir*/
    box-sizing: border-box; /*Siempre debe ir*/
    font-family: 'Inter', sans-serif; /*Se cambia la elección de la tipografía de acuerdo al proyecto*/
    text-decoration: none; /*Opcional, pero sería bueno de acuerdo al proyecto*/
    
}
a {

    color:aliceblue
    
}

img {width: 100%;
height:auto;}

header .logo {
    width: 140px;
    margin: 30px 0px 40px 55px;
    margin-top: 0px;
    
}

header h1 {
    -webkit-text-stroke: 1px white;
  }

header {
    border-bottom:5px solid #fff ;
    text-align: center;
    
    padding: 30px 10px;
    font-size: 20px;
   
    color:#2c2f33;
    display: flex;
}



header .menu {
    margin-top: 18px;
    
}

header .menu ul li {
    display: inline;
}

header .menu ul li a{
    color: #2c2f33;
    background-color: #fff;
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    
}

/*--Contenido--*/

section .Logotipos_alternativos {

   background-color: gray;
   color: aliceblue;
   text-align: left;
   padding: 60px;
   font-size: 17px;
   padding-bottom: 150px;
   
}

section .seccion_marca {

    
    
    text-align: left;
    padding: 60px;
    font-size: 17px;
    
    
 }

h2 {

font-size: 40px;
margin-bottom: 40px;

}

h3 {

    font-size: 30px;
    margin: 30px 0px 30px ;
}



.contenedor_bebe  {

   
    padding: 25px;
    display: flex;
  }


  .imagenes_alternativos{

    display: flex;
    gap: 20px;
    
  }

  
  .contenedor_bebe .item_medio {

    text-align: left;
    padding: 60px;
    font-size: 17px;
    margin-right: 70px;
    
    
  }

  img{
    border-radius: 25px;
  }

  .contenedor_bebe .imagenes {
    margin-right: 50px;
  }

  

.contenedor_bebe2 {
    padding: 70px 0px 70px 0px;
    display: flex;
    list-style: none;
    background-color:blueviolet;
  }

  .contenedor_bebe2 p{
    color: #2c2f33;
  }

 
 
 
 
  @media (min-width: 320px) and (max-width: 480px) {
    .container {
        
      
        
        flex-direction: column;
        margin: auto;
        justify-content: space-around;
        gap: 30px;
        
      }

      


      .Logotipos_alternativos {

        flex-direction: column;
        align-items: center;
       
      }
    
     .contenedor_bebe2 {

      flex-direction: column;
      align-items: center;
     }

     .contenedor_bebe {

      flex-direction: column;
      align-items: center;
     }

    .container .Logotipos_alternativos .imagenes_alternativos {

      flex-direction: column;
      align-items: center;
    }

  }
